<footer>
            <div class="container-fluid footer-stay-in-touch align-items-center" style="background-image: url(images/bg_footer_20_q60.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div style="display: inline-block;">
                                <h1 style="font-size: 25px;">STAY IN TOUCH WITH US</h1>
                                <hr>
                                <p class="uppercase">Subscribe to our newsletter</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="uppercase">Our email subscribers will receive first access to special offers and limited releases.</p>
                            <button class="subscribe">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-fluid footer-contact-info">
                <div class="container">
                    <div class="row">   
                        <div class="col-md-6 contact" >
                            <div class="title">CONTACT US</div>
                            <div class="phone-number">1800-2001</div>
                            <div class="email">KACoffee@mail.com</div>
                            <address>
                                Num 123, 456, Hanoi<br>
                                Vietnam
                            </address>
                        </div>
                        <div class="col-md-6">
                            <div class="title">FIND US ON</div>
                            <address>
                                <a class="item facebook" href="#"><i class="fab fa-facebook-square"></i></a>
                                <a class="item tiktok" href="#"><i class="fab fa-tiktok"></i></a>
                                <a class="item instagram" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="item youtube" href="#"><i class="fab fa-youtube"></i></a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </footer>