<div class="navbar navbar-expand-md px-2 px-md-5 py-0 sticky-top">
                <a class="navbar-brand p-0 m-0" href ="/"><img src="images/logo.jpg"></a>
                <div style="width: 60px;"></div>
                <div class="collapse navbar-collapse mt-0" id="navbarSupportedContent">
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <button class="dropdown-toggle nav-btn shopping" type="button" id="nav-subscription" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Shop <i class="fas fa-angle-down"></i>
                            </button>
                            {{! <ul class="dropdown-menu shop container-fluid" aria-labelledby="nav-shop">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <p class="menu-title">COFFEE <i class="fas fa-angle-down"></i></p>
                                        <a class="submenu-item" href="/product">All coffee</a>
                                        <div class="submenu">
                                            <p class="submenu-title">FEATURES</p>
                                            <ul>
                                                <li class="submenu-item"><a class="submenu-item" href="#">Hot coffee</a></li>
                                                <li class="submenu-item"><a class="submenu-item" href="#">Espresso</a></li>
                                                <li class="submenu-item"><a class="submenu-item" href="#">Cold </a></li>
                                            </ul>
                                        </div>
                                        <div class="submenu">
                                            <p class="submenu-title">SEASON SPECIALS</p>
                                            <ul>
                                                <li class="submenu-item"><a class="submenu-item" href="#">Spring</a></li>
                                                <li class="submenu-item"><a class="submenu-item" href="#">Winter</a></li>
                                                <li class="submenu-item"><a class="submenu-item" href="#">Fall</a></li>
                                                <li class="submenu-item"><a class="submenu-item" href="#">Winter</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <p class="menu-title">TEA <i class="fas fa-angle-down"></i></p>
                                        <a class="submenu-item" href="#">All tea</a>
                                        
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <p class="menu-title">CAKE <i class="fas fa-angle-down"></i></p>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <p class="menu-title">OTHERS <i class="fas fa-angle-down"></i></p>
                                    </div> 
                                    
                                </div>
                            </ul>}}
                        </li>
                        <li class="nav-item dropdown">
                            <button class="dropdown-toggle nav-btn" type="button" id="nav-subscription" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Subscription Program <i class="fas fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu subscription" aria-labelledby="nav-subscription">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="menu-title">SUBSCRIPTION PROGRAM <i class="fas fa-angle-down"></i></p>
                                        <a class="submenu-item" href="#">Information</a>
                                        <br>
                                        <a class="submenu-item" href="#">Chose your plan</a>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="dropdown-toggle nav-btn blog" type="button" id="nav-subscription" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Blog <i class="fas fa-angle-down"></i>
                            </button>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="dropdown-toggle nav-btn" type="button" id="nav-shop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              About us <i class="fas fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu about" aria-labelledby="navbarDropdownMenuLink">
                                <div class="row">
                                    <div class="col-12">
                                        <a class="submenu-item" href="#">Our story</a>
                                        <br>
                                        <a class="submenu-item" href="#">Contact us</a>
                                        <br>
                                        <a class="submenu-item" href="#">FAQs</a>
                                        <div class="submenu social">
                                            <p class="submenu-title">STAY IN TOUCH <i class="fas fa-angle-down"></i></p>
                                            <br>
                                            <a class="submenu-item facebook" href="#"><i class="fab fa-facebook-square"></i></a>
                                            <a class="submenu-item tiktok" href="#"><i class="fab fa-tiktok"></i></a>
                                            <a class="submenu-item instagram" href="#"><i class="fab fa-instagram"></i></a>
                                            <a class="submenu-item youtube" href="#"><i class="fab fa-youtube"></i></a>
                                        </div>
                                        <div class="submenu">
                                            <p class="submenu-title">CALL US <i class="fas fa-angle-down"></i></p>
                                            <br>
                                            <a class="submenu-item" href="#"><i class="fas fa-phone-alt"></i> <span class="phone-number">1800-2001</span></a>
                                        </div> 
                                    </div>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="d-flex nav-left">
                    <a class="navbut px-4"><i class="fas fa-search"></i></a>
                    <div class = 'login'>
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="navbut px-3 cart">
                        <i class="fas fa-shopping-cart" style="font-size: larger;"><div class="product-count">0</div></i>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars" style="color:black"></i>
                </button>
            </div>
            <script src='js/navbar/shopping.js'></script>
            <script src='js/navbar/account.js'></script>
            <script src='js/navbar/cart.js'></script>