<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="css/custom.css" />
        <link rel="icon" href="images/favicon.jpg">
        <script src="https://kit.fontawesome.com/a10c199002.js" crossorigin="anonymous"></script>

        <title>KACoffee | Deliver World Flavor</title>
    </head>
    <body>
        
            <div class="promotion">
                <p> &#183 <i class="fas fa-truck"></i> Hi {{name}}! Free shipping on 3 cups or more within 20kms &#183
                </p>
            </div>

            {{>navbar}}

            <script>fetchState()</script>

        <div class="carousel">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="images/homebanner-large-halloween-3.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="images/My Post.png" alt="Second slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>

        <div class="container my-5 sales">
            <div class="row justify-content-center">
                <a class="promo" href="#" style="background-image: url(images/sale01.png);">
                    <div class="content">THE BEST COFFEE IN TOWN</div>
                    <button class="promo-button">SHOP NOW</button>
                </a>
                <a class="promo" href="#" style="background-image: url(images/sale02.png);">
                    <div class="content">WINTER WITH HOT DRINKS</div>
                    <button class="promo-button">ORDER NOW</button>
                </a>
                <a class="promo" href="#" style="background-image: url(images/sale03.png);">
                    <div class="content">BUY FIVE GET ONE FREE</div>
                    <button class="promo-button">MORE</button>
                </a>
            </div>
        </div>

        <div class="story story-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 order-0">
                        <div class="title-left">THE FLAVOR OF HANOI</div>
                        <div class="content-left">
                            If you are lucky enough to have visited Costa Rica, Café Britt will be a familiar name. As Costa Rica’s premier gourmet coffee for over 30 years, we’re found throughout the country at hotels, restaurants, souvenir shops, coffee shops, and more. Chances are that you enjoyed Café Britt as delicious in-room coffee, a Costa Rican “café chorreado” at a traditional restaurant, or an after-dinner cappuccino.
                            <br>
                            As for those of you that are still looking forward to a trip to our beautiful country, we invite you to do some armchair travel with our classic Costa Rican single origins and blends. Experience stunning volcanoes, breathtaking mountain views, and cultural icons as you take a virtual tour of Costa Rica. Explore the country’s unique coffee culture and production methods with our limited-edition coffees, and learn about Costa Rican native wildlife and the importance of our world-famous biodiversity.
                            <br>
                            With each sip, you’ll discover why Café Britt is the flavor of Costa Rica
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-1" style="position: relative;">
                            <img class="mx-auto" src="images/download (3).png" width="50%" style="display: block;">
                            <button class="mx-auto">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="story story-right">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 order-1 " >
                        <div class="title-right">FOR THE LOVE OF COFFEE</div>
                        <div class="content-right">
                            At KACoffee, we understand that everyone is different and strive to help each customer find the brew that suits him or her best. That’s why we offer a variety of high-quality coffees that satisfy a wide range of tastes and preferences.                            
                            <br>
                            Our method is simple: choose the highest quality coffee beans and match them with expert roasters and other skilled local workers who then perfectly roast them in exclusive blends.
                            <br>
                            This recipe has been the key to our success for over thirty years. We feature the region’s best coffees, produced responsibly and roasted to perfection.
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-0" style="position: relative;">
                            <img class="mx-auto" src="images/main-full-01.jpg" width="50%" style="display: block;">
                            <button class="mx-auto">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="story story-left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 order-0">
                        <div class="title-left">THE BEST QUALITY</div>
                        <div class="content-left">
                            As for those of you that are still looking forward to a trip to our beautiful country, we invite you to do some armchair travel with our classic Costa Rican single origins and blends. Experience stunning volcanoes, breathtaking mountain views, and cultural icons as you take a virtual tour of Costa Rica. Explore the country’s unique coffee culture and production methods with our limited-edition coffees, and learn about Costa Rican native wildlife and the importance of our world-famous biodiversity.
                            <br>
                            With each sip, you’ll discover why Café Britt is the flavor of Costa Rica
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-1" style="position: relative;">
                            <img class="mx-auto" src="images/main-full-02.jpg" width="50%" style="display: block;">
                            <button class="mx-auto">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="story story-right">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 order-1 " >
                        <div class="title-right">FOR THE LOVE OF COFFEE</div>
                        <div class="content-right">
                            At KACoffee, we understand that everyone is different and strive to help each customer find the brew that suits him or her best. That’s why we offer a variety of high-quality coffees that satisfy a wide range of tastes and preferences.                            
                            <br>
                            Our method is simple: choose the highest quality coffee beans and match them with expert roasters and other skilled local workers who then perfectly roast them in exclusive blends.
                            <br>
                            This recipe has been the key to our success for over thirty years. We feature the region’s best coffees, produced responsibly and roasted to perfection.
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-0" style="position: relative;">
                            <img class="mx-auto" src="images/main-full-01.jpg" width="50%" style="display: block;">
                            <button class="mx-auto">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>

{{! <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add to cart</h5>
      </div>
      <div class="modal-body">
        <form class="test">
        <div style ="margin-bottom:5px">
            <label for="quantity" class ="col-sm-2">Quantity</label>
            <input type="number" id="quantity" name="quantity" value = "1" min="1" max="20">
        </div>
            <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Size</legend>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <input class="form-check-input " type="radio" name="size" id="sizeS" value="S" checked>
        <label class="form-check-label" for="sizeS">
          S
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="size" id="sizeM" value="M">
        <label class="form-check-label" for="sizeM">
          M (+ 5000 VND)
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="size" id="sizeL" value="L">
        <label class="form-check-label" for="sizeL">
          L (+ 10000 VND)
        </label>
      </div>
    </div>
  </fieldset>
  <div class="row" style = "margin-bottom:7px">
        <div class="col-md-6">
        <label for="sugar" class="form-label">Sugar</label>
        <select id="sugar" class="form-select" name ="sugar">
            <option value="100" selected>100%</option>
            <option value="70">70%</option>
            <option value="50">50%</option>
            <option value="30">30%</option>
            <option value="0">0%</option>
        </select>
        </div>
        <div class="col-md-6">
        <label for="ice" class="form-label">Ice</label>
        <select id="ice" class="form-select" name ="ice">
            <option value="100" selected>100%</option>
            <option value="70">70%</option>
            <option value="50">50%</option>
            <option value="30">30%</option>
            <option value="0">0%</option>
        </select>
        </div>
  </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="button" class="btn btn-primary" value ="Add" data-dismiss="modal">
      </div>
        </form>
        
      </div>
    </div>
  </div>
</div> }}

        {{>footer}}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>     
    </body>
</html>
